<h1>Tweets of @<%= @nickname %></h1>

<%= render 'search' %>
<ul class="tweet-group">
  <% @tweets.each do |tweet| %>
    <li class="tweet" id="#{tweet.id}">
      <%= I18n.l(tweet.created_at) -%>
      <%= tweet_with_mentions(tweet.text) %>
    </li>
  <% end %>
</ul>
