<ul class="tweet_group">
  <div class="tweet_group_header">
    <img src="<%= @tweets.first.user.profile_image_url %>" class="handle-avatar" />
    <span>@<%= @tweets.first.user.screen_name %></span>
  </div>
  <%= render partial: 'tweet', collection: @tweets, as: :tweet %>
</ul>
