<div class="jumbotron">
  <h1>You can not see tweets from <%= @nickname %></h1>

  <p><%= @nickname %> may have limited access to its account and did not yet authorized you see its tweets</p>

  <%= link_to 'Back', root_path, class: "btn btn-primary" %>
</div>
